body {
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    background-color: #111111 !important;
    color: white !important;
}

.wrap {
    margin-left: auto;
    margin-right: auto;
}

canvas {
    display: none;
    border-width: 10px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: repeating-conic-gradient(
        from 0deg,
        red 0deg 10deg,
        green 10deg 20deg,
        white 20deg 30deg
    );
}

@keyframes borderAnimation {
    0% {
        border-image-source: repeating-linear-gradient(
            90deg,
            red 0,
            red 10px,
            green 10px,
            green 20px,
            white 20px,
            white 30px
        );
    }
    33% {
        border-image-source: repeating-linear-gradient(
            90deg,
            green 0,
            green 10px,
            white 10px,
            white 20px,
            red 20px,
            red 30px
        );
    }
    66% {
        border-image-source: repeating-linear-gradient(
            90deg,
            white 0,
            white 10px,
            red 10px,
            red 20px,
            green 20px,
            green 30px
        );
    }
    100% {
        border-image-source: repeating-linear-gradient(
            90deg,
            red 0,
            red 10px,
            green 10px,
            green 20px,
            white 20px,
            white 30px
        );
    }
}

canvas:focus {
    outline: none;
}



/* All screens style */
#gameover p,
#setting p,
#menu p {
    font-size: 20px;
}

#gameover a,
#setting a,
#menu a {
    font-size: 30px;
    display: block;
}

#gameover a:hover,
#setting a:hover,
#menu a:hover {
    cursor: pointer;
}

#gameover a:hover::before,
#setting a:hover::before,
#menu a:hover::before {
    content: ">";
    margin-right: 10px;
}

#menu {
    display: block;
}

#gameover {
    display: none;
}

#setting {
    display: none;
}

#setting input {
    display: none;
}

#setting label {
    cursor: pointer;
}

#setting input:checked + label {
    background-color: #fff;
    color: #000;
}
